version: "3.9"

services:
  postgres:
    image: postgres:15-alpine
    container_name: todo_postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: todo_db
      POSTGRES_USER: todo_user
      POSTGRES_PASSWORD: todo_pwd
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
