:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/assets/images/login-background.jpg');
  background-size: cover;
  background-position: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); // Fondo semi-transparente
  backdrop-filter: blur(10px);
}

mat-card-header {
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button[mat-raised-button] {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
}

.error-message {
  color: #f44336; // mat-warn color
  margin-bottom: 15px;
  text-align: center;
}
